.image-card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-card.vertical {
  width: 100%;
  height: 277px;
}

.image-card.horizontal {
  width: 100%;
  height: 230px;
}

@media (min-width: 768px) {
  .image-card.vertical {
    height: 360px;
  }
}
